name: CI

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.txt'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.txt'
      - 'docs/**'

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: clippy, rustfmt


      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "shared"
          cache-all-crates: "true"

      - run: |
          cargo check
          cargo clippy -- -D warnings
          cargo fmt -- --check

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: clippy, rustfmt, rust-src, rust-std

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "shared"
          cache-all-crates: "true"

      - run: |
          cargo test --all-features

  python-test:
    name: Python Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "shared"
          cache-all-crates: "true"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install maturin pytest numpy

      - name: Build and install bamnado
        run: |
          maturin check
          maturin develop

      - name: Run tests
        run: |
          pytest test/test_interface.py

  build-dev:
    name: Build (dev)
    runs-on: ubuntu-latest
    needs: [check, test, python-test]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "shared"
          cache-all-crates: "true"

      - run: |
          cargo build
